body {
    margin: 0px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #e1b7fd, #ffffff);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.title-bar {
    height: 30px;
    background-color: transparent;
    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: left;
}

.drag {
    flex: 1;
    -webkit-app-region: drag;
    background-color: transparent;
}

.close {
    width: 30px;
    background-color: transparent;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close:hover {
    background-color: rgb(255, 95, 95);
}

#login-area {
    flex: 1;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#uid{
    margin: 0px 30px 10px 30px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color:rgba(143, 143, 143, 0.5);
    color: white;
    font-size: medium;
    text-align: center;
    outline: none;
}

#uid::placeholder{
    color: white;
}

#uid:focus::placeholder{
    opacity: 0;
}

#password{
    margin: 0px 30px 20px 30px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color:rgba(143, 143, 143, 0.5);
    color: white;
    font-size: medium;
    text-align: center;
    outline: none;
}

#password::placeholder{
    color: white;
}

#password:focus::placeholder{
    opacity: 0;
}

#remeber-password {
    height: 16px;
    margin: 0px 0px 25px 30px;
    font-size: small;
    color: gray;
    line-height: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#login {
    margin: 0px 30px 20px 30px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color:rgb(97, 0, 117);
    color: white;
    outline: none;
    cursor: pointer;
}

#more-opration{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
    user-select: none;
}

#forget-password {
    color: black;
    margin-right: 10px;
    cursor: pointer;
}

#register{
    color: black;
    margin-left: 10px;
    cursor: pointer;
}