#app {
    background-color: #e6eceba1;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.menu {
    width: 40px;
    height: 100vh;
    /* background-color: #cfddda; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu .menu-items img {
    height: 21px;
    width: 21px;
    margin-top: 20px;
    user-select: none;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu .menu-items img:hover {
    background-color: rgb(190, 190, 190);
}

.main-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main-content .window-controls {
    height: 40px;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.upsearch {
    flex: 1;
    /* background-color: white; */
    -webkit-app-region: drag;
}

.login-status {
    width: 120px;
    background-color: transparent;
    line-height: 30px;
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-name {
    text-align: center;
    font-size: small;
    cursor: pointer;
}

.head {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.cloud-service {
    user-select: none;
    width: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cloud-icon {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.cloud-status {
    flex: 1;
    text-align: center;
    font-size: small;
    cursor: pointer;
}

.win-ctrl {
    width: 150px;
    background-color: transparent;
    cursor: pointer;
    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    line-height: 40px;
}

.minWindow {
    flex: 1;
    text-align: center;
    /*左右居中*/
    transition: background-color 0.3s;
}

.maxWindow {
    flex: 1;
    text-align: center;
    /*左右居中*/
    transition: background-color 0.3s;
}

.closeWindow {
    flex: 1;
    text-align: center;
    /*左右居中*/
    transition: background-color 0.3s;
}

.minWindow:hover {
    background-color: rgb(190, 190, 190);
}

.maxWindow:hover {
    background-color: rgb(190, 190, 190);
}

.closeWindow:hover {
    background-color: rgb(255, 95, 95);
}

.win-ctrl img {
    height: 15px;
    width: 15px;
}

.netdisk {
    flex: 1;
    /* background-color: #686868; */
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.oprations {
    height: 40px;
    display: flex;
    flex-direction: row;
}

.oprations .left {
    width: 150px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.oprations .left img {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.oprations .path-docker {
    flex: 2;
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    border-radius: 5px;
}

.oprations .search {
    flex: 1;
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
}

.table-header {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    line-height: 40px;
    font-size: small;
    font-weight: bold;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.table-header .select-all {
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-header .name {
    flex: 3;
}

.table-header .date {
    flex: 2;
}

.table-header .type {
    flex: 1;
}

.table-header .size {
    flex: 1;
}

.file-items {
    flex: 1;
    /* background-color: azure; */
    overflow: auto;
    /* 自动添加滚动条 */
    align-items: stretch;
}

/* Webkit 浏览器（如 Chrome 和 Safari） */
.file-items::-webkit-scrollbar {
    width: 5px;
    /* 滚动条宽度 */
}

.file-items::-webkit-scrollbar-thumb {
    background-color: rgb(0, 161, 67);
    /* 滚动条颜色 */
    border-radius: 10px;
    /* 滚动条圆角 */
}

.file-items::-webkit-scrollbar-track {
    background: #e4e4e4;
    /* 滚动条轨道颜色 */
}

.file-items .item {
    height: 40px;
    background-color: transparent;
    border-bottom: 1px solid rgb(235, 235, 235);
    line-height: 40px;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    user-select: none;
}

.file-items .item:hover {
    background-color: #e6eceb;
}

.file-items .item .icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-items .item .icon img {
    width: 12px;
    height: 12px;
}

.file-items .item .file-name {
    flex: 3;
    overflow: hidden;
    /* 对超出容器的部分强制截取，高度不确定则换行 */
    text-overflow: ellipsis;
    /* 显示省略符号来代表被修剪的文本 */
    white-space: nowrap;
    /* 禁止换行 */
}

.file-items .item .modify-date {
    flex: 2;
    overflow: hidden;
    /* 对超出容器的部分强制截取，高度不确定则换行 */
    text-overflow: ellipsis;
    /* 显示省略符号来代表被修剪的文本 */
    white-space: nowrap;
    /* 禁止换行 */
}

.file-items .item .file-type {
    flex: 1;
    overflow: hidden;
    /* 对超出容器的部分强制截取，高度不确定则换行 */
    text-overflow: ellipsis;
    /* 显示省略符号来代表被修剪的文本 */
    white-space: nowrap;
    /* 禁止换行 */
}

.file-items .item .file-size {
    flex: 1;
    overflow: hidden;
    /* 对超出容器的部分强制截取，高度不确定则换行 */
    text-overflow: ellipsis;
    /* 显示省略符号来代表被修剪的文本 */
    white-space: nowrap;
    /* 禁止换行 */
}

.context-menu {
    font-size: small;
    border-radius: 5px;
    position: absolute;
    /* 绝对定位 */
    background-color: white;
    /* 背景颜色为白色 */
    border: 1px solid #ccc;
    /* 边框颜色 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* 阴影效果 */
    z-index: 1000;
    /* 确保菜单在最上层 */
    width: 150px;
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #eee;
}

.download {
    display: flex;
    flex-direction: column;
}

.download .operation {
    background-color: aquamarine;
    height: 40px;
}

.download .header {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    line-height: 40px;
    font-size: small;
    font-weight: bold;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.download .header .select-all {
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.download .header .name {
    flex: 2;
}

.download .header .size {
    flex: 1;
}

.download .header .status {
    flex: 1;
}

.download .header .process {
    flex: 2;
}

.downloading-files {
    flex: 1;
    /* background-color: azure; */
    overflow: auto;
    /* 自动添加滚动条 */
    align-items: stretch;
}

.downloading-files .item {
    height: 40px;
    background-color: transparent;
    border-bottom: 1px solid rgb(235, 235, 235);
    line-height: 40px;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.downloading-files .item .file-name {
    margin-left: 40px;
    flex: 2;
    cursor: pointer;
    overflow: hidden;
    /* 对超出容器的部分强制截取，高度不确定则换行 */
    text-overflow: ellipsis;
    /* 显示省略符号来代表被修剪的文本 */
    white-space: nowrap;
    /* 禁止换行 */
}

.downloading-files .item .file-size {
    flex: 1;
    overflow: hidden;
    /* 对超出容器的部分强制截取，高度不确定则换行 */
    text-overflow: ellipsis;
    /* 显示省略符号来代表被修剪的文本 */
    white-space: nowrap;
    /* 禁止换行 */
}

.downloading-files .item .file-status {
    flex: 1;
    overflow: hidden;
    /* 对超出容器的部分强制截取，高度不确定则换行 */
    text-overflow: ellipsis;
    /* 显示省略符号来代表被修剪的文本 */
    white-space: nowrap;
    /* 禁止换行 */
}

.downloading-files .item .file-process {
    flex: 2;
    overflow: hidden;
    /* 对超出容器的部分强制截取，高度不确定则换行 */
    text-overflow: ellipsis;
    /* 显示省略符号来代表被修剪的文本 */
    white-space: nowrap;
    /* 禁止换行 */
}