body {
    margin: 0px;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.window-control {
    height: 30px;
    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: right;
}

.drag {
    flex: 1;
    color: black;
    line-height: 30px;
    padding-left: 10px;
}

.close {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close:hover {
    background-color: rgb(255, 95, 95);
}

.window-control img{
    width: 10px;
    height: 10px;
}

.introduce {
    height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #383838;
}

.QRCode{
    height: 190px;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.QRCode img{
    height: 190px;
    width: 190px;
    background-color: rgb(227, 227, 227);
}

.auth-confirm{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    color: #2196F3;
}

.auth-confirm p{
    cursor: pointer;
}