<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../plugin/vue/vue.global.js"></script>
    <link rel="stylesheet" href="../css/login.css">
    <title>Document</title>
</head>
<body id="app">
    <div id="title-bar" class="title-bar">
        <div class="drag"></div>
        <div class="close" @click="closeEvent">
            <img src="./icon/close.svg" alt="关闭" style="height: 10px; width: 10px;">
        </div>
    </div>
    <div id="login-area">
        <div id="head" class="head">
            <img src="./icon/head.svg" alt="">
        </div>
        <input type="text" id="uid" placeholder="输入用户名" v-model="uid">
        <input type="password" id="password" placeholder="输入密码" v-model="password">
        <div id="remeber-password">
            <input type="checkbox" name="" id=""><div> 记住密码</div>
        </div>
        <button id="login" @click="login">登 录</button>
    </div>
    <div id="more-opration">
        <div id="forget-password">忘记密码</div>
        <div id="register">注册账号</div>
    </div>

    <script src="./JavaScript/index.js"></script>
</body>
</html>