<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../plugin/vue/vue.global.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body style="margin: 0px; height: 100%; width: 100%;">
    <div id="app">
        <div class="menu">
            <div class="menu-items">
                <img src="../icon/files.svg" alt="" srcset="" class="item" @click="NetdiskDisplay">
                <img src="../icon/movie.svg" alt="" srcset="" class="item" @click="MovieDisplay">
                <img src="../icon/music.svg" alt="" srcset="" class="item" @click="MusicDisplay">
                <img src="../icon/picture.svg" alt="" srcset="" class="item" @click="ImageDisplay">
                <img src="../icon/downloadandupload.svg" alt="" srcset="" class="item" @click="DownloadDisplay">
            </div>
        </div>
        <div class="main-content">
            <div class="window-controls">
                <div class="upsearch"></div>
                <div class="login-status">
                    <img src="../img/my.jpg" class="head" @click="OpenUserInfo_" alt="">
                    <div class="user-name" @click="OpenUserInfo_" >{{uname_}}</div>
                </div>
                <div class="cloud-service">
                    <img src="../icon/cloud.svg" class="cloud-icon" @click="OpenAuthInfo_" alt="">
                    <div class="cloud-status" @click="OpenAuthInfo_">{{cloudStatus_}}</div>
                </div>
                <div class="win-ctrl">
                    <div class="minWindow" @click="minWin">
                        <img src="../icon/minWindow.svg" alt="" srcset="">
                    </div>
                    <div class="maxWindow" @click="maxWin">
                        <img src="../icon/maxWindow.svg" alt="" srcset="">
                    </div>
                    <div class="closeWindow" @click="closeWin">
                        <img src="../icon/close.svg" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div v-if="currentDisplay_=='netdiskPage'" class="netdisk">
                <div class="oprations">
                    <div class="left">
                        <img src="../icon/back.svg" alt="" srcset="" class="back" @click="goBack">
                        <img src="../icon/forword.svg" alt="" srcset="" class="forword" @click="goForward">
                        <img src="../icon/refresh.svg" alt="" srcset="" class="refresh">
                    </div>
                    <div class="path-docker"></div>
                    <input type="text" name="" id="" class="search" placeholder="搜索">
                </div>
                <div class="table-header">
                    <div class="select-all">
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="name">名称</div>
                    <div class="date">修改日期</div>
                    <div class="type">类型</div>
                    <div class="size">大小</div>
                </div>
                <div class="file-items">
                    <li class="item" v-for="file in file_list_">
                        <div class="icon">
                            <img :src="file.m_file_icon" alt="" srcset="">
                        </div>
                        <div class="file-name" @click="GetFileList_(file.m_file_path, file.m_file_fid, file.m_file_isdir)">{{file.m_file_name}}</div>
                        <div class="modify-date">{{file.m_file_time}}</div>
                        <div class="file-type">{{file.m_file_type}}</div>
                        <div class="file-size">{{file.m_file_size}}</div>
                    </li>
                </div>
            </div>
            <div v-if="(currentDisplay_=='moviePage')">
                电影
            </div>
            <div v-if="(currentDisplay_=='musicPage')">
                音乐
            </div>
            <div v-if="(currentDisplay_=='imagePage')">
                图像
            </div>
            <div v-if="(currentDisplay_=='downloadPage')">
                <div v-if="(downloadStatus_=='downloading')">下载中</div>
                <div v-if="(downloadStatus_=='downloaded')">下载完成</div>
                <div v-if="(downloadStatus_=='nodownload')">未下载</div>
            </div>
        </div>
    </div>
    <script src="../javascript/main.js"></script>
</body>
</html>